<!DOCTYPE html>
<!-- <html lang="{{ site.lang | default: "en-US" }}"> -->
<html lang="da">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/images/favicon.png" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    {% feed_meta %}
</head>
  
<body>
  <header>
    
    <h1>
      <a href="https://openaccess.dk"><img src="assets/images/logo.png" alt="Dansk netværk for Open Access"></a>
      {{ page.header }}
    </h1>
    
    <p>{{ page.description }}</p> 
    
    <nav>
      {% include navigation.html %}
    </nav>      
    
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2022 Dansk netværk for Open Access | Kontakt: <a href="mailto:mail@openaccess.dk">mail@openaccess.dk</a></p>
  </footer>
</body>
</html>
